<footer>
    <div class=" lead f-info">
        
        
        <div class="f-info-brand">&copy; Fitness Club private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

